html, body, #wrapper {
  background: rgb(238, 238, 238);
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#wrapper td {
  vertical-align: middle;
  text-align: center;
}
#inputform {
  border: 1px gray solid;
  border-radius: 5px;
  width: 20em;
  margin: auto;  /* required to center form in #wrapper td */
}
label {
  background-color: rgb(247, 247, 247);
}
/*
# vim tabstop=8 expandtab shiftwidth=2 softtabstop=2
*/
