# nginx configuration for websockets

server {
  server_name ~"^uwsgi-(?<version>[a-z]+)\.myturn\..*$";
  access_log /var/log/nginx/pyturn-access.log;
  # can get lots of vebosity by appending "debug" just before semicolon below
  error_log /var/log/nginx/pyturn-error.log debug;
  rewrite_log on;
  # no index, wsgi handles "/"
  location / {
    root /usr/local/jcomeauictx/pyturn-$version/html;
    try_files $uri @proxy;
    proxy_redirect off;
  }
  location ~ /\.ht {
    deny all;
  }
  location ~ \.py.?$ {
    deny all;
  }
  location @proxy {
    include uwsgi_params;
    uwsgi_pass localhost:5678;
  }
}
