html, body {
  height: 100%;
  background: green;  /* should never be seen with 0 margin */
  margin: 0;  /* eliminate scrollbars */
  font-family: Arial, Helvetica, sans-serif;
}
#loading-body {
  background-color: #1985d0;
}
div {
  margin: auto;  /* for left-right margins to center */
}
div.body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #eeeeee;
  display: table;
}
body {
  width: 100%;
}
.pagewrapper {
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}
.inputrow {
  display: table-row;
}
label {
  background-color: #f7f7f7;
  text-align: left;
  font-size: small;
  display: table-cell;
  width: 7em;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;
}
input:not([type=submit]), select {
  text-align: left;
  display: table-cell;
  border: none;
}
label, input {
  padding: 5px;
}
.box {
  margin: auto;  /* required to center form in .pagewrapper td */
}
input[type=submit] {
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  border: 1px solid #999999;
  background-color: #cccccc;
}
input[value=Help] {
  background-color: blue;
  color: white;
}
.formfields {
  display: table;
  border: 1px solid #dddddd;
  border-radius: 10px;
  overflow: hidden;  /* prevents element corners from covering rounded edges */
}
.submitbuttons {
  margin-top: 10px;
}  
/*
vim: tabstop=8 expandtab shiftwidth=2 softtabstop=2
*/
